#demo{
  border-bottom: 2px solid #68b2f8;

  @include aspect-ratio(16,6);

  @include breakpoint-mobile(){
    @include aspect-ratio(1,1.3);
  }

  @include breakpoint-mobile-landscape(){
    @include aspect-ratio(16,9);
  }

  iframe{
    width: 100%;
    height: 100%;
    border: 0;
  }
}