section#gallery{
	background: #751a62;

	.projects{
		display: flex;
		flex-wrap: wrap;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;

		width: 100%;
		height: 18rem;

		@include breakpoint-mobile(){
			grid-template-columns: 1fr;
			height: auto;

			.project {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1rem;
				
				height: 14rem;
			}
		}

		@include breakpoint-mobile-landscape(){
			height: 30rem;
			grid-template-columns: 1fr 1fr;

			.project{
				width: 48%;
				margin-bottom: 1rem;

				&:nth-child(2){
					margin-right: 0;
				}
			}
		}
	}

	.project{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		overflow: hidden;

		width: 31%;
		margin-right: 1rem;
		&:nth-child(3){
			margin-right: 0;
		}

		.caption{
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 0.5rem;
			background-color: rgba(0,0,0,0.6);
			box-sizing: border-box;
		}

		.title{
			font-weight: bold;
			font-size: 1.3rem;
			margin-bottom: 0.2rem;
		}
	}

	a{
		color: white;
	}

	@supports (display: grid) {
		.projects  .project {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}
}