section#gallery{
	background: #751a62;

	.projects{
		display: flex;
		flex-wrap: wrap;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;

		width: 100%;
		height: 64rem;

		@include breakpoint-mobile(){
			grid-template-columns: 1fr;
			height: auto;

			.project {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1rem;

				height: 14rem;
			}
		}

		@include breakpoint-mobile-landscape(){
			height: 30rem;
			grid-template-columns: 1fr 1fr;

			.project{
				width: 48%;
				margin-bottom: 1rem;

				&:nth-child(2){
					margin-right: 0;
				}
			}
		}
	}

	.project{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		overflow: hidden;

		width: 31%;
		margin-right: 1rem;
		&:nth-child(3){
			margin-right: 0;
		}

		.caption{
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 0.5rem;
			background-color: rgba(0,0,0,0.6);
			box-sizing: border-box;
            font-size: 0.8rem;
		}

		.title{
			font-weight: bold;
			font-size: 1.3rem;
			margin-bottom: 0.2rem;
		}

        .servers{
            font-size: 1rem;
            margin-top: 0.5rem

        }

        a {
            transition: all 0.3s ease-out;

            &:before,
            &:after {
                content: ' ';
                position: relative;
                top: 3px;
                display: inline-block;
                //background: #eee;
                flex: 1;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%220%200%2020%2048%22%3E%0A%20%3Crect%20width%3D%2248%22%20height%3D%2248%22%20stroke%3D%22%23FFF%22%20fill%3D%22none%22%20x%3D%225%22%20y%3D%220%22%20vector-effect%3D%22non-scaling-stroke%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                background-repeat: no-repeat, no-repeat;
                background-position: center right, right 14px center;
                background-size: auto, auto;
                margin: 0 6px;
                width: 7px;
                height: 16px;
            }

            &:after { transform: scale(-1,1); }

            &:hover{
                color: #68b2f8;
            }
        }
	}

	a{
		color: white;
	}

	@supports (display: grid) {
		.projects  .project {
			width: 100%;
			margin-right: 0;
			margin-bottom: 1rem;
		}
	}
}
